<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="person"
          class="com.chasewoodford.java.spring.Person">
        <constructor-arg name="id" value="777"></constructor-arg>
        <constructor-arg name="name" value="Mary"></constructor-arg>
        <property name="taxId" value="321"></property>
        <property name="address" ref="address"></property>
    </bean>

    <bean id="address"
          class="com.chasewoodford.java.spring.Address">
        <constructor-arg name="street" value="Highland Court"></constructor-arg>
        <constructor-arg name="postcode" value="17110"></constructor-arg>
    </bean>
</beans>