<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="person"
          class="com.chasewoodford.java.spring.Person"
          init-method="onCreate"
          factory-method="getInstance">
        <constructor-arg name="id" value="1001"></constructor-arg>
        <constructor-arg name="name" value="Chase"></constructor-arg>
        <property name="address" ref="address"></property>
    </bean>

    <bean id="person2"
          class="com.chasewoodford.java.spring.Person"
          init-method="onCreate"
          factory-bean="personfactory"
          factory-method="createPerson">
        <constructor-arg name="id" value="1002"></constructor-arg>
        <constructor-arg name="name" value="Karen"></constructor-arg>
        <property name="address" ref="address"></property>
    </bean>

    <bean id="address"
          class="com.chasewoodford.java.spring.Address">
        <constructor-arg name="street" value="2212 Highland Court"></constructor-arg>
        <constructor-arg name="postcode" value="17110"></constructor-arg>
    </bean>

    <bean id="personfactory"
          class="com.chasewoodford.java.spring.PersonFactory">
    </bean>

    <bean id="basket" class="com.chasewoodford.java.spring.FruitBasket">
        <constructor-arg value="Chase's Fruit Basket"></constructor-arg>
        <constructor-arg>
            <list>
                <value>Apple</value>
                <value>Banana</value>
                <value>Orange</value>
            </list>
        </constructor-arg>
    </bean>

</beans>